
a.cat-link{
  text-decoration: none;
  color : #00000063;
}
a.cat-link:hover {
    color : #707070;
}

.post {
  background: white;
  margin: 2em auto;
  max-width: 60rem;
  padding: 2em 0;
  box-shadow: 12px 18px 24px 20px rgba(darken($brand-color, 50%), .1);
}

.post > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  padding: 0 1em;
}

.post > h1 {
  font-size: 2em;
  max-width: 48rem;
  padding: 1.6em 1em 0 1em;
  text-align: center;
}

.post p {
  text-align: justify;
  text-indent: 1.5em;
  text-justify: inter-word;
}

.post p:first-of-type,
.post h2 + p,.post h3 + p,.post h4 + p,.post h5 + p {
  text-indent: 0;
}

.post a:hover {
  background: $highlight;
}

.post dl,
.post ul,
.post ol {
  margin: 0;
}

// .post .image-gallery ul{
//   margin: 0;
//   width: 100%;
// }


.post li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.post-content:first-child {
  margin-top: 4em;
}

.post-meta {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: right;
}

.back-link {
  display: inline-block;
  font-size: .75em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
//.post-content li {
//    list-style-type: none;
//    position: relative;    /* It's needed for setting position to absolute in the next rule. */
//}

//.post-conte li::before {
//    content: '•';
//    position: absolute;
//    left: -0.8em;          /* Adjust this value so that it appears where you want. */    
//    bottom: -0.01em;          /* Adjust this value so that it appears where you want. */
//    font-size: 0.8em;      /* Adjust this value so that it appears what size you want. */
//}
.post-content ul {list-style: none}

.post-content ul > li::before {content: "•";
  display: inline-block; width: 1em;
  margin-left: -1em;

font-size: 0.7em}
